	<div class="right-block" >
		<div class="cont-block">
			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-header">
						<p class="navbar-brand">Sort by : </p>
					</div>
					<div class="navbar-form">
					<select name="" id="" ng-model="order_prod" class="form-control">
						<option value="id">id</option>
						<option value="title">title</option>
						<option value="time">date</option>
					</select>
					<span>&nbsp;order by : &nbsp;</span>
					<select name="" id="" class="form-control" ng-model="asc_sel" ng-change="order_sort(asc_sel)" ng-init=" asc_sel= '1' ">
						<option value="1" >Asc</option>
						<option value="0" >Desc</option>
					</select>
					<div class="navbar-right">
						<label>search for : </label>
						<input name="s_name" class="form-control" type="text" ng-model="s_name">
						<select name="s_type" id="" class="form-control" ng-model="s_type">
							<option value="id">id</option>
							<option value="title">title</option>
						</select>					
					</div>
				</div>
				</div>
			</nav>
			<p>{{ s_search }}</p>
	   		<ul class="list-prod">
				<li ng-repeat="prod in prods | filter : s_search | orderBy: order_prod : asc | limitTo : pagination.perPage : pagination.page * pagination.perPage as result" class="listProd">
					<span class="modal-butt" ng-click="open('lg',prod)"></span>
					<img ng-Src="{{prod.img}}" alt="">
					<a ng-href="/product/{{ prod.id }}" class="tit-prod">{{ prod.title}}</a>
					<p class="time-prod">{{prod.time | date:"dd-MM-yyyy"}}</p>
				</li>
				<li class="message" ng-if=" result.length==0 ">
					<h3>No Found</h3>
				</li>
			</ul>
	 		<ul class="pagination">
				<li ng-hide="pagination.page==0"><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
				<li ng-repeat="n_page in []|range : pagination.numPages" ng-class="{active : n_page== pagination.page}">
					<a href="" ng-click="pagination.toPageId(n_page)">{{ n_page + 1 }}</a>
				</li>
				<li ng-hide="pagination.page == pagination.numPages - 1"><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
			</ul>
		    <script type="text/ng-template" id="myModalContent.html">
		        <div class="modal-header">
		            <h3 class="modal-title">Detail product</h3>
		        </div>
		        <div class="modal-body">
						<div class="media">
						  <div class="media-left">
						      <img class="media-object" ng-Src="{{item.img}}" alt="..." width="500px">				    
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">{{item.title}}</h4>
						    <p>{{item.description}}</p>
						  </div>
						</div>        
				</div>
		        <div class="modal-footer">
		            <button class="btn btn-primary" type="button" ng-click="ok()" >OK</button>
		         </div>
		    </script>
    	</div>
    </div>